@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner-bg.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
}

.navbar {
    width: 90%;
    height: 80px;
    background-color: white;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar_menu {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li a {
    color: #222222;
    font-size: 12px;
    font-weight: 500;
    transition: 0.4s;
}
.menu ul li:hover a {
    color: #ffba00;
}

.menu ul li a i {
    font-size: 15px;
    transition: 0.4s;
}
.menu ul li i:hover {
    color: black;
}

.banner_info {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: 110px;

}

.banner_text {
    width: 40%;
    padding-top: 40px;
}

.banner_text h1 {
    font-size: 55px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #222222;
    line-height: 70px;
}
.banner_text p {
    color: grey;
    font-weight: 400;
    font-size: 15px;
    padding-top: 30px;
}
.banner_icon {
    padding-top: 60px;
}
.banner_icon i {
    padding: 19px 20px;
    border-radius: 50%;
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    color: white;
    cursor: pointer;
}
.banner_icon span {
    font-size: 12px;
    color: #222222;
    font-weight: 500;
    margin-left: 10px;
}
.banner_img {
    width: 58%;
}
.banner_img img {
    width: 100%;
}
.dropdown1 {
    position: absolute;
    width: 180px;
    height: 224px;
    background-color: white;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.has_dropdown1:hover .dropdown1 {
    opacity: 1;
    visibility: visible;
}
.dropdown1 ul {
    display: block;
}
.dropdown1 ul li a {
    color: #ffba00;
    margin-left: 20px;
    transition: 0.4s;
}
.dropdown1 ul li {
    padding-top: 15px;
    border-bottom: 1px solid rgb(231, 216, 216);
    padding-bottom: 10px;
    transition: 0.4s;
}
.dropdown1 ul li:last-of-type {
    border-bottom: 0;
}
.dropdown1 ul li:hover {
    background-color: #ffba00;
}
.dropdown1 ul li:hover a {
    color: white;
}
.dropdown2 {
    position: absolute;
    width: 180px;
    height: 88px;
    background-color: white;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.has_dropdown2:hover .dropdown2 {
    opacity: 1;
    visibility: visible;
}
.dropdown2 ul {
    display: block;
}
.dropdown2 ul li a {
    color: #ffba00;
    margin-left: 20px;
    transition: 0.4s;
}
.dropdown2 ul li {
    padding-top: 15px;
    border-bottom: 1px solid rgb(231, 216, 216);
    padding-bottom: 10px;
    transition: 0.4s;
}
.dropdown2 ul li:last-of-type {
    border-bottom: 0;
}
.dropdown2 ul li:hover {
    background-color: #ffba00;
}
.dropdown2 ul li:hover a {
    color: white;
}
.dropdown3 {
    position: absolute;
    width: 180px;
    height: 133px;
    background-color: white;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.has_dropdown3:hover .dropdown3 {
    opacity: 1;
    visibility: visible;
}
.dropdown3 ul {
    display: block;
}
.dropdown3 ul li a {
    color: #ffba00;
    margin-left: 20px;
    transition: 0.4s;
}
.dropdown3 ul li {
    padding-top: 15px;
    border-bottom: 1px solid rgb(231, 216, 216);
    padding-bottom: 10px;
    transition: 0.4s;
}
.dropdown3 ul li:last-of-type {
    border-bottom: 0;
}
.dropdown3 ul li:hover {
    background-color: #ffba00;
}
.dropdown3 ul li:hover a {
    color: white;
}
.container2 {
   padding: 120px 0;
}
.info_section {
    width: 80%;
    margin: 0 auto;
    height: 180px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 40px;
    padding-top: 40px;
}
.info:not(.info:last-of-type)::after  {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 80px;
    background-color: rgb(231, 216, 216);
}
.info i {
    font-size: 30px;
    transition: 0.4s;
}
.info i:hover {
    color: rgb(199, 195, 195);
}
.info h3 {
    font-weight: 400;
    font-size: 17px;
    padding-top: 15px;
}
.info p {
    color: rgb(156, 148, 148);
    font-weight: 300;
    font-size: 14px;
}
.snikers_section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.sniker1 {
    width: 65%;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.sniker2 {
    width: 33%;
    height: 380px;
    position: relative;
}
.hover_text4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
}
.sniker2:hover .hover_text4 {
    opacity: 1;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
.hover_text4 p {
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.overlay5 {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}
.sniker2:hover .overlay5 {
    opacity: 0.5;
}
.sniker2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.sn_2 {
    width: 30%;
    height: 180px;
    position: relative;
}
.hover_text1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
}
.sn_2:hover .hover_text1 {
    opacity: 1;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
.hover_text1 p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.overlay2 {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}
.sn_2:hover .overlay2 {
    opacity: 0.5;
}
.sn_2 img {
    width: 100%;
    display: block;
    height: 100%;
}
.sn_1 {
    width: 65%;
    height: 180px;
    position: relative;
}
.hover_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
}
.sn_1:hover .hover_text {
    opacity: 1;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
.hover_text p {
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.overlay1 {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}
.sn_1:hover .overlay1 {
    opacity: 0.5;
}
.sn_1 img {
    width: 100%;
    height: 100%;
    display: block;
}
.sn_3 {
    width: 30%;
    height: 180px;
    position: relative;
}
.hover_text2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
}
.sn_3:hover .hover_text2 {
    opacity: 1;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
.hover_text2 p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.overlay3 {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}
.sn_3:hover .overlay3 {
    opacity: 0.5;
}
.sn_3 img {
    width: 100%;
    height: 100%;
    display: block;
}
.sn_4 {
    width: 65%;
    height: 180px;
    position: relative;
}
.hover_text3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
}
.sn_4:hover .hover_text3 {
    opacity: 1;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
.hover_text3 p {
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.overlay4 {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}
.sn_4:hover .overlay4 {
    opacity: 0.5;
}
.sn_4 img {
    width: 100%;
    height: 100%;
    display: block;
}
.container4 {
    margin-top: 80px;
}
.heading h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.heading {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.heading p {
    color: grey;
    font-size: 14px;
    padding-top: 10px;
}
.products_section {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.price {
    display: flex;
    padding-top: 10px;
    gap: 15px;
}
.price p:last-of-type {
    text-decoration: line-through;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}
.product_text {
    width: 230px;
    padding: 15px 0;
}
.product_text p:first-of-type {
    font-size: 15px;
    font-weight: 500;
}
.product_img {
    width: 250px;
}
.product_img img {
    width: 100%;
}
.price p:first-of-type {
    font-size: 14px;
}
.product_icons {
    padding-top: 15px;
    display: flex;
    gap: 10px;
}
.product_icons i{
    transition: 0.4s;
}
.product_icons i {
    padding: 8px 8px;
    border-radius: 50%;
    background-color:#828BB2;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s;
}
.product_icons i:hover {
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}
.container5 {
    margin-top: 90px;
}
.exclusive_section {
    width: 100%;
    display: flex;
}
.deal {
    width: 50%;
    background-image:url('../images/exclusive.jpg.webp');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.deal_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
.adidas {
    width: 50%;
    background-color: #F9F9FF;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.deal_time{
    width: 80%;
    height: 90px;
    background-color: white;
    border-radius: 8px;
    z-index: 2;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.deal h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.deal p {
    color: white;
    font-size: 15px;
}
.time_menu ul li p{
    color: black;
}
.time_menu ul {
    display: flex;  
    gap: 90px; 
    text-align: center;
}
.time_menu {
    margin: 0 auto;
}
.time_menu ul li p:first-of-type {
    font-size: 30px;
    font-weight: 500;
}
.time_menu ul li {
    position: relative;
}
.time_menu ul li:not(.time_menu ul li:last-of-type)::after  {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 60px;
    background-color: rgb(231, 216, 216);
    transform: translateX(50px);
}
.deal_show {
    padding: 15px 25px;
    border-radius: 20px;
    display: inline-block;
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
}
.adidas img {
    width: 310px;
}
.adidas_price {
    display: flex;
    gap: 20px;
}
.adidas_price p:first-of-type {
    font-size: 14px;
}
.adidas_price p:last-of-type {
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 500;
    color: rgb(180, 178, 178);
}
.adidas_h {
    width: 50%;
    text-align: center;
    margin-top: 15px;
}
.adidas_h h2 {
    font-weight: 500;
}
.adidas_bag {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.adidas_bag i {
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    padding: 12px 13px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 13px;
}
.adidas_bag p {
    font-size: 13px;
    font-weight: 400;
}
.logo_section {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo_section img {
    cursor: pointer;
    opacity: 0.3;
    transition: 0.4s;
}
.logo_section img:hover {
    opacity: 1;
}